html{ 
  display: inline;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F6F1;
}

Image{
  width : 150px;
  height : 150px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto 25%;
}

h1{
  text-align: center;
  color: #356d62;
  
} 


.button-main{
  width: 100%;
  border: none;
  background-color: #356d62;
  border-radius: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: flex;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: larger;
  font-family: Tahoma;
}

.Conseil{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.container-identification{
  width: 95%;
  padding: 5%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-color: #FFF;
  border-style: none;
  box-shadow: #356d62;
  border-radius: 15px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.h2-identification{
  color: #356d62;
  text-align: center;
}

.button-retour{
  
  width: 100%;
  border: none;
  background-color: #356d62;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-family: Tahoma;
}

.latin{
  font-style: italic;
}
.description{
  text-align: justify;
}

.search-icon{
  width: 300px;
  text-align: center;
  display: inline-block;

}

.color-nav{
  background-color: #356d62;
}

.sidebar-title{
  color: #F8F6F1;
}

.conseil-bar{
  background-color: #356d62;
  height: 4ch;
}

.conseil-title{
  color: #F8F6F1;
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: large;
}

